.col {
    background: #f0f0f0; 
    width: 230px; 
    padding: 8px; 
    word-wrap: break-word; 
}
.header {
	width: 100%;
	height: 46px;
	background-color: rgba(37,37,37,1.00);
	/*border-bottom: rgba(104,210,255,1.00);*/
	position: fixed;
}
@-webkit-keyframes process{
    0%{
    	width: 0%; 
    	background-color: rgba(104,210,255,1.00);
    }
    /* 初始状态颜色为蓝 */
    70%{
    	width:75%;
    	background-color: rgba(104,210,255,1.00);
    }
    100%{
    	width: 100%;
    	background-color: rgba(217,88,88,1.00);
    }
}
@keyframes process{
    0%{
    	width: 0%; 
    	background-color: rgba(104,210,255,1.00);
    }
    /* 初始状态颜色为蓝 */
    70%{
    	width:75%;
    	background-color: rgba(104,210,255,1.00);
    }
    100%{
    	width: 100%;
    	background-color: rgba(217,88,88,1.00);
    }
}
@keyframes clear{
    0%{
    	width: 0%; 
    }
    100%{
    	width: 0%;
    }
}
.progress-animate{
	width:100%;
	height: 3px;
    background-color: rgba(217,88,88,1.00);
    animation-name: process;
    animation-timing-function: linear;
    animation-duration: 90s;
   
 /*    animation-play-state: running;
    -webkit-animation:process 48s linear;
    -webkit-animation-play-state:running;*/
}
.fill-header{
	height: 46px;
}
.logo {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
}
.logo > img {
	height: 32px;
}
.footer {
	position: absolute;
	bottom: -3px;
	width: 100%;
	height: 48px;
	background-color: rgba(180,180,180,1.00);
	color: rgba(255,255,255,1.00);
	align-content: center;
	text-align: center;
}
.footer > p {
	line-height: 50px;
	font-size: 9px;
	vertical-align: middle;
}
.opt {
	background-color: #FAFEFF;
	border-bottom: rgba(104,210,255,1.00);
	border-bottom-style: solid;
	border-bottom-width: 1px;

	display: inline-block;
}
.opt > a{	
	font-size: 17px;
	font-family: 'Times New Roman';
}
.context {
	font-size: 18px;
	font-family: 'Times New Roman';
	font-weight: 400;
	line-height: 1.4em;
	padding: 10px;
}
.next{
	text-align: center;
	padding-top: 15px;
	height: 50px;
}
[data-toggle='tab']{
	text-align: center;
	color: #EEE;
	font-size: 16px;
	background-color: #33A4C5;
	padding: 8px;
	border-radius: 5px;
}
.next a:hover{	
	background-color: #4FC6E8;
	color: #FFF;
}
code {
	word-wrap: break-word;
	font-size: 15px;
	font-family: 'Consolas', monospace;
	background-color: #EEFFDA;
	border-radius: 4px;	
	color: #0B840D;
}
.answerTrue{
  color: #4a4;
  background-color:#bcb;
}
.answerFalse{
  color: #a44;
  background-color:#fbb;
}